!!!
%html
  %head
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no", :name => "viewport"}
    %meta{name: "description", content: "Demuxed, the conference for video engineers."}
    %meta{name: "HandheldFriendly", content: "True"}
    %meta{name: "MobileOptimized", content: "320"}
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}

    / Use title if it's in the page YAML frontmatter
    %title= current_page.data.title || "Demuxed"

    = favicon_tag("/favicon.ico", rel: "shortcut icon")

    %script{src: "https://use.typekit.net/nte1xds.js"}
    :javascript
      try{Typekit.load({ async: true });}catch(e){}

    = stylesheet_link_tag :site
    = javascript_include_tag :all

  %body{:class => page_classes}
    %div.wrapper
      = partial 'partials/header'

      %div.main-content
        = yield

      = partial 'partials/footer'


  = javascript_include_tag("mobilemenu")

  :javascript
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1348839955173485');
    fbq('track', 'PageView');
  %noscript
    %img{height: "1", width: "1", style: "display:none", src: "https://www.facebook.com/tr?id=1348839955173485&ev=PageView&noscript=1"}
